.breather--content {
  @apply cursor-pointer aspect-square grid;
  width: min(max(30vh, 30vw), 50vh);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.breather--shape-container {
  @apply w-full h-full;
}

.breather--shape-bounds {
  @apply w-full h-full;
  border-radius: 100%;
  transform: scale(150%);
}

.breather--shape {
  @apply w-full h-full;
  border-radius: 100%;

  background: linear-gradient(
    45deg,
    var(--color-cyan-600) 0%,
    var(--color-purple-600) 100%
  );
  opacity: 0.2;

  &.in {
    transform: scale(150%);
    opacity: 1;
  }
}

.breather--icon {
  transition: transform 0.3s ease-in-out;
  color: var(--color-primary);

  &.out {
    transform: rotate(180deg);
  }
}

.breather--counter {
  font-size: 2.5rem;
  padding-bottom: 36px;
}
